.cardSection {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.card button {
  background-color: #d71e28; /* Wells Fargo red */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #b01c24; /* Darker red */
}

.toggleContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.toggleButton {
  background-color: #ddd; /* Light grey */
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
  width: 50px;
  height: 25px;
  outline: none;
  transition: background-color 0.3s;
}

.toggleButton::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s;
}

.toggleButton.active {
  background-color: #007bff; /* Blue */
}

.toggleButton.active::before {
  transform: translateX(25px);
}

.codeBlock {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #000; /* Black background */
  border-radius: 5px;
  overflow: auto;
}

.codeBlock pre {
  margin: 0;
  white-space: pre-wrap;
  color: #fff; /* White text */
}

.codeBlock button {
  margin-top: 0.5rem;
  background-color: #d71e28; /* Wells Fargo red */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.codeBlock button:hover {
  background-color: #b01c24; /* Darker red */
}
